@{
    ViewData["Title"] = "Admin Paneli";
}

<h1>Admin Paneli</h1>

<div class="mt-4">
    <a asp-action="OrderList" asp-controller="Admin" class="btn btn-primary">Sipariş Listesi</a>
    <a asp-action="ViewLogs" asp-controller="Admin" class="btn btn-secondary">Müşteri Listesi</a>
    <a asp-action="ViewCharts" asp-controller="Admin" class="btn btn-secondary">Grafiksel Gösterim</a>
    <a asp-action="Index" asp-controller="Products" class="btn btn-secondary">Ürün İşlemleri</a>


</div>